<% layout('/layouts/boilerplate') %>

<div class="todo-container">
  <% if (!user.isGuest) { %> <% if(user.username.slice(-1) === 's') { %>
  <h1><%= user.username %>' Tasks</h1>
  <% } else { %>
  <h1><%= user.username %>'s Tasks</h1>
  <% } %> <% } else { %>
  <h1>Tasks</h1>
  <% } %>
  <div class="td-container">
    <div id="Todo" class="td-list">
      <h2>Todo</h2>
      <!-- <ul id="tasks"> -->
      <% for (let task of user.todos) { %> <% if (task.status == 'Todo') { %>
      <form
        id="<%= task._id %>"
        class="draggable"
        draggable="true"
        action="/tasks/<%= task._id %>?_method=DELETE"
        method="POST"
      >
        <li class="todo-li">- <%= task.task %></li>
        <button class="del-btn"><i class="fas fa-clipboard-list"></i></button>
      </form>
      <% } %> <%} %>
      <!-- </ul> -->
      <!-- <form class="draggable" draggable="true" action="/tasks/hello?_method=DELETE" method="POST">
        <li class="todo-li">-hello</li>
        <button class="del-btn"><i class="fas fa-clipboard-list"></i></button>
      </form>
      <form class="draggable" draggable="true" action="/tasks/longer?_method=DELETE" method="POST">
        <li class="todo-li">-This is a longer one</li>
        <button class="del-btn"><i class="fas fa-clipboard-list"></i></button>
      </form>
      <form class="draggable" draggable="true" action="/tasks/homework?_method=DELETE" method="POST">
        <li class="todo-li">-Do your damn homework kid</li>
        <button class="del-btn"><i class="fas fa-clipboard-list"></i></button>
      </form> -->
    </div>
    <div id="Doing" class="td-list">
      <h2>Doing</h2>
      <% for (let task of user.todos) { %> <% if (task.status == 'Doing') { %>
      <form
        id="<%= task._id %>"
        class="draggable"
        draggable="true"
        action="/tasks/<%= task._id %>?_method=DELETE"
        method="POST"
      >
        <li class="todo-li">- <%= task.task %></li>
        <button class="del-btn"><i class="fas fa-clipboard-list"></i></button>
      </form>
      <% } %> <%} %>
    </div>
    <div id="Completed" class="td-list">
      <h2>Completed</h2>
      <% for (let task of user.todos) { %> <% if (task.status == 'Completed') { %>
      <form
        id="<%= task._id %>"
        class="draggable"
        draggable="true"
        action="/tasks/<%= task._id %>?_method=DELETE"
        method="POST"
      >
        <li class="todo-li">- <%= task.task %></li>
        <button class="del-btn"><i class="fas fa-clipboard-list"></i></button>
      </form>
      <% } %> <%} %>
    </div>
  </div>
  <button class="task-btn mt-3" id="new-task"><span class="task-btn-txt">New Task</span></button>
  <div id="form" class="none mt-3">
    <form action="/tasks" method="POST">
      <input class="input-box" type="text" name="task" id="new-task" />
      <button class="task-btn"><span class="task-btn-txt">Add Task</span></button>
    </form>
  </div>
</div>

<script src="scripts/todo.js"></script>
